.formvalidation.form_input{
	position: relative;
	align-self: stretch;
	flex-grow: 1;
	flex-shrink: 1;
	justify-self: stretch;
		
	display: -webkit-box;
    display: -webkit-flex;
	display: flex;

	align-items: center;
}
.formvalidation.form_input input{
	flex-grow: 1;
	align-self: stretch;
	border-radius: 0;
}
.formvalidation.form_input.warning input{
	color: #C00;
}
.warning .warningtext{
	display: inline-block;
	width: 20px;
	height: 20px;
	
	color: #FFF;
	font-size: 16px;
	line-height: 20px;

	display: -webkit-box;
    display: -webkit-flex;
	display: flex;

	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;

	border-radius: 20px;
	margin: 0 10px;
	
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	background: #C00;
	flex-shrink: 0;
}
.weui-cell_select .weui-cell__bd:after{
	position: relative;	
}
span.weui-agree__text{
	display: inline-block;
}
.weui-agree{
	padding:0;
}