.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 100%;
}
.avatar-uploader {
  display: flex;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
}
.avatar-uploader .ant-upload{
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-grow: 1;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #999;
}
