body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:152px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:126px;
  top:175px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:42px;
  top:56px;
  width:235px;
  height:64px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:64px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:66px;
  top:152px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:66px;
  top:172px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:193px;
  width:300px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u19 {
  position:absolute;
  left:15px;
  top:213px;
  width:53px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:231px;
  width:300px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u22 {
  position:absolute;
  left:120px;
  top:107px;
  width:110px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:284px;
  width:300px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u25 {
  position:absolute;
  left:15px;
  top:150px;
  width:40px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:63px;
  top:245px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:73px;
  top:268px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:13px;
  top:245px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:13px;
  top:265px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:173px;
  top:245px;
  width:95px;
  height:21px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:228px;
  top:266px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF3300;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:275px;
  top:254px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:0px;
  top:237px;
  width:300px;
  height:53px;
  color:#FF3300;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:53px;
}
#u42 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:340px;
  width:300px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u44 {
  position:absolute;
  left:63px;
  top:301px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:73px;
  top:324px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:13px;
  top:301px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:13px;
  top:321px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:173px;
  top:301px;
  width:95px;
  height:21px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:228px;
  top:322px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#00CC33;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:275px;
  top:310px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
