body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:295px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:28px;
  top:65px;
  width:53px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:130px;
  top:62px;
  width:145px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:259px;
  top:66px;
  width:14px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:100px;
  width:300px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u13 {
  position:absolute;
  left:26px;
  top:128px;
  width:53px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:128px;
  top:125px;
  width:145px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:261px;
  top:128px;
  width:14px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:170px;
  width:300px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u19 {
  position:absolute;
  left:31px;
  top:198px;
  width:53px;
  height:18px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:0px;
  top:234px;
  width:300px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u22 {
  position:absolute;
  left:130px;
  top:196px;
  width:145px;
  height:22px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u22_input:disabled {
  color:grayText;
}
