body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-2px;
  top:9px;
  width:300px;
  height:500px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:62px;
  top:380px;
  width:175px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:50px;
  width:118px;
  height:43px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:43px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:15px;
  top:80px;
  width:138px;
  height:70px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:70px;
}
#u11 {
  position:absolute;
  left:2px;
  top:27px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:171px;
  top:80px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:171px;
  top:103px;
  width:53px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:15px;
  top:170px;
  width:138px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:171px;
  top:170px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:171px;
  top:193px;
  width:53px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:8px;
  top:154px;
  width:282px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u23 {
  position:absolute;
  left:8px;
  top:246px;
  width:282px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:265px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:282px;
  height:1px;
}
#u24 {
  position:absolute;
  left:15px;
  top:266px;
  width:138px;
  height:70px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:70px;
}
#u25 {
  position:absolute;
  left:2px;
  top:27px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:171px;
  top:266px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:171px;
  top:289px;
  width:53px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:250px;
  top:14px;
  width:19px;
  height:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
