.borrowinfoPage {
	background: #EEE;
}
.borrowinfoPage .headcontent{
	margin-bottom: 30px;
	background: #3479e1;
	color: #FFF;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	font-size: 14px;
	margin: 0;
}
.borrowinfoPage .headcontent .quota{
	font-size: 30px;
	font-weight: bold;
}
.borrowinfoPage .userinfo{
	display: flex;
	background: #FFF;
	padding: 15px;
}
.borrowinfoPage .userinfo > img{
	width: 50px;
	height: 50px;
	margin-right: 15px;
}
.borrowinfoPage .userinfo > div{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 26px;
}
.borrowinfoPage .userinfo > div > span > span{
	margin-right: 10px;
}
.borrowinfoPage .weui-cell__bd p{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 24px;
}
.borrowinfoPage .weui-cell__ft p{
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 24px;
	color: #333;
}

