.borrowlistPage {
	background: #EEE;
}
.borrowlistPage .borrowlist{
	display: flex;
	flex-grow: 1;
	overflow: hidden;
	flex-direction: column;
}
.borrowlistPage .borrowlist .list{
	display: flex;
	flex-grow: 1;
	overflow: scroll;
	flex-direction: column;
}
.borrowlistPage .borrowlist .list .weui-cells{
	overflow: scroll;
}
.borrowlistPage .borrowlist .list .weui-cells:after{
	content: none;
}
.borrowlistPage .weui-navbar__item.weui-bar__item_on{
	background: none;
	position: relative;
	color: #3479e1;
}
.borrowlistPage .weui-navbar__item.weui-bar__item_on:before{
	height: 2px;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: #3479e1;
	width: 100%;
}
.borrowlistPage .weui-cell__hd{
	display: flex;
	align-items: center;
}
.borrowlistPage .weui-cell__hd >img{
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 50px;
}
.borrowlistPage .weui-cell__hd > .userinfo{
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.borrowlistPage .weui-cell__bd{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 14px;
	padding-right: 5px;
	color: #666;
}
.borrowlistPage .weui-cell_access{
	line-height: 24px;
}

.borrowlistPage .weui-navbar + .weui-tab__panel{
	flex-grow: 1;
}

.borrowlistPage .weui-tab {
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.profitPage {

}
.profitPage .headcontent{
	background: #3479e1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
	flex-shrink: 0;
}
.profitPage .headcontent .tit{
	color: #FFF;
	font-size: 14px;
	text-align: center;
}
.profitPage .headcontent .price{
	text-align: center;
	
	margin: 10px 0;
	color: #FFF;
}
.profitPage .headcontent .price span{
	font-size: 30px;
	margin-right: 10px;
}
.profitPage .headcontent .btn{
	text-align: center;
	color: #FFF;
	height: 30px;
	font-size: 14px;
	min-width: 100px;
	width: 100px;
	background: rgba(255,255,255,.3);
	flex-grow: 0;
	flex-shrink: 0;
	align-self: center;
}
.profitPage .headcontent .btn:active{
	background: rgba(255,255,255,.2);
}

