.resetpasswordPage{
    padding:20px;
    background: #eff3f6;
}
.resetpasswordPage .resetpasswordForm{
    display: flex;
    flex-direction: column;
}
.resetpasswordPage .resetpasswordForm .li{
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    margin-bottom: 10px;
    overflow: hidden;
    background: #FFF;
    padding-left: 15px;
}
.resetpasswordPage .resetpasswordForm .li.yaoqing{
	background: #f1f2f4;
	padding-left:0;
}
.resetpasswordPage .resetpasswordForm .li input{
	font-size: 16px;
	flex-grow: 1;
	border-radius: 10px;
	border: none;
}
.resetpasswordPage .resetpasswordForm .li.yaoqing input{
	background: #f1f2f4;
	text-align: center;
}
.resetpasswordPage .submitBtn{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}
.resetpasswordPage .submitBtn botton{
	background: #72aaff;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	border-radius: 6px;
	margin-bottom: 10px;
}
.resetpasswordPage .submitBtn botton.register{
	color: #3479e1;
	border: 1px solid #3479e1;
	background: none;
}
.resetpasswordPage .resetpasswordForm .li .btn.getYanzhen{
	color: #FFF;
	display: flex;
	height: 36px;
	border-radius: 4px;
	flex-shrink: 0;
	width: 110px;
	align-self: center;
	margin-right: 10px;
}