.uservalidationinfoPage {
	background: #FFF;
}
.uservalidationinfoPage .topicinfo{
	background: #f49d05;
	display: flex;
	padding:15px;
	color: #FFF;
	position: relative;
}
.uservalidationinfoPage .topicinfo span{
	width: 16px;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 10px;
	display: inline-block;
}
.uservalidationinfoPage .topicinfo span:after{
	height: 1px;
	width: 16px;
	background: #CCC;
	content: "";
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	position: absolute;
	left: 0;
	top: 7px;
}
.uservalidationinfoPage .topicinfo span:before{
	height: 1px;
	width: 16px;
	background: #CCC;
	content: "";
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	transform:rotate(-45deg);
	position: absolute;
	left: 0;
	top: 7px;
}
.uservalidationinfoPage .weui-cell__bd{
	align-items: flex-start;
}
.uservalidationinfoPage .nodata{
	text-align: center;
}
.uservalidationinfoPage .nodata span:first-child{
	padding: 40px 0 20px 0	;
	color: #999;
	display: flex;
	justify-content: center;
}
.uservalidationinfoPage .nodata span.btn{
	margin: 20px;
}

.uservalidationinfoPage .nodata a{
	font-weight: bold;
	color:#3479e1;
}
.uservalidationinfoPage .weui-navbar__item{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding: 15px 8px;
}

.loanshowborrowinfoPageinfo .weui-cells__title{
	background: #EEE;
	margin:0;
	padding-top: .77em;
    padding-bottom: .3em;

}
.uservalidationinfoPage .weui-tab{
	display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}
.uservalidationinfoPage .loanshowborrowinfotable{
	display: flex;
    overflow: scroll;
    max-height: 400px;
}
.uservalidationinfoPage .loanshowborrowinfotable table{
	width: 100%
}
.uservalidationinfoPage .loanshowborrowinfotable table tr td{
	padding: 5px;
	border-bottom: 1px solid #EEE;
}
.uservalidationinfoPage .loanshowborrowinfotable table tr th{
	font-size: 12px;
	color: #999;
}
.uservalidationinfoPage.AppPage .weui-tab .weui-tab__panel{
	flex-grow: 1;
    overflow: scroll;
    width: 100%;
}









