.validationPage {
	background: #EEE;
}
.validationPage .list{
	margin-bottom: 40px;
}
.validationPage .list .p1{
	padding: 0 20px;
	background: #FFF;
	margin-bottom: 20px;
}
.validationPage .list .p1 > div{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	position: relative;
	border-bottom: 1px solid #EEE;
}





.validationPage .list .p1  > div:first-child:before{
	content: none;
}
.validationPage .list .p1  > div:before{
	content: none;
	position: absolute;
	height: 55px;
	width: 1px;
	background: #EEE;
	bottom: 20px;
	left: 9px;
	z-index: 1;
}
.validationPage .list .p1  > div .name{
	flex-grow: 1;
}
.validationPage .list .p1  > div .circular{
	width: 18px;
	background: #EEE;
	height: 18px;
	border-radius: 18px;
	margin-right: 10px;
	position: relative;
	z-index: 2;
}
.validationPage .list .p1  > div.true .circular{
	background: #09BB07;
}
.validationPage .list .p1  > div.true .name{
	color: #09BB07;
	font-weight: 400;
}
.validationPage .list .p1 > div.true:before{
	background: #09BB07;
}
.validationPage .list .p1 > div.false{
	display: flex;
	justify-content: space-between;
}
.validationPage .btn.Primary{
	margin: 30px;
}
.validationPage .statustxt{
	flex-grow: 1;
	text-align: right;
	align-self: stretch;
	display: flex;
	align-items: center;
	margin: 5px 0;
	justify-content: flex-end
}
.validationPage #myiframe{
	flex-grow: 1;
}



