.validationPhotoPage {
	background: #eff3f6;
}
.validationPhotoPage .list{
	padding: 15px;
	background: #FFF;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: scroll;
	flex-grow: 1;
}
.validationPhotoPage .list > div.li{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-bottom: 1px solid #EEE;
	padding-bottom: 15px;
	margin-bottom: 15px;
	flex-shrink: 0;
}
.validationPhotoPage .list > button.btn{
	flex-shrink: 0;
}
.validationPhotoPage .list > div.li:last-child{
	border: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.validationPhotoPage .list > div.li img{
	
}
.validationPhotoPage .list > div.li >div{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
}
.validationPhotoPage .list > div.li >div .tit{
	font-size: 14px;
	margin-bottom: 5px;
}
.validationPhotoPage .list > div.li >div .lnk{
	
}
.validationPhotoPage .btn.Primary{
	margin: 0 30px;
}
.validationPhotoPage .validationPhotoTitle{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 15px;
}
.validationPhotoPage .list > div.li .avatar-uploader{
	width: 50%;
	flex-shrink: 0;
	margin-right: 15px;
}
.validationPhotoPage .showyangli{
	position: fixed;
	left: 0;
	top:0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}
.validationPhotoPage .showyangli.show{
	display: flex;
}
.validationPhotoPage .showyangli img{
	width: 80%;
}





