body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:100px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u7 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:42px;
  top:56px;
  width:235px;
  height:64px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:64px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:193px;
  width:300px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u11 {
  position:absolute;
  left:15px;
  top:209px;
  width:53px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:0px;
  top:228px;
  width:300px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u14 {
  position:absolute;
  left:120px;
  top:107px;
  width:110px;
  height:16px;
  font-size:12px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:280px;
  width:300px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u17 {
  position:absolute;
  left:15px;
  top:294px;
  width:79px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:312px;
  width:300px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:365px;
  width:300px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:232px;
  width:300px;
  height:56px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:75px;
  top:244px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:15px;
  top:242px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:176px;
  top:240px;
  width:95px;
  height:21px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:191px;
  top:251px;
  width:27px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:278px;
  top:253px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:0px;
  top:317px;
  width:300px;
  height:56px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u34 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:373px;
  width:300px;
  height:47px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:47px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:65px;
  top:327px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:75px;
  top:349px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:15px;
  top:327px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:15px;
  top:347px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:190px;
  top:335px;
  width:95px;
  height:21px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:201px;
  top:344px;
  width:27px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:65px;
  top:378px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:75px;
  top:400px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:15px;
  top:378px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:15px;
  top:398px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:190px;
  top:386px;
  width:95px;
  height:21px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:201px;
  top:395px;
  width:27px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  visibility:hidden;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:0px;
  top:137px;
  width:300px;
  height:62px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u62 {
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:116px;
  top:151px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:126px;
  top:174px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:66px;
  top:151px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:66px;
  top:171px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:15px;
  top:149px;
  width:40px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:50px;
  top:265px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:15px;
  top:264px;
  width:85px;
  height:16px;
  font-size:12px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:184px;
  top:265px;
  width:85px;
  height:16px;
  font-size:12px;
  color:#FF3300;
  text-align:right;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:282px;
  width:300px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u80 {
  position:absolute;
  left:278px;
  top:160px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:0px;
  top:232px;
  width:300px;
  height:56px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u83 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:0px;
  top:138px;
  width:300px;
  height:62px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:62px;
}
#u85 {
  position:absolute;
  left:2px;
  top:23px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:279px;
  top:265px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
  text-align:right;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:380px;
  top:265px;
  width:85px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3300;
  text-align:right;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:42px;
  top:450px;
  width:200px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
