body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:39px;
  width:300px;
  height:151px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:151px;
}
#u7 {
  position:absolute;
  left:2px;
  top:68px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:101px;
  top:70px;
  width:98px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:56px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:95px;
  top:136px;
  width:110px;
  height:34px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:57px;
  top:232px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:14px;
  top:232px;
  width:33px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:57px;
  top:248px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:268px;
  width:301px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:317px;
  width:301px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u20 {
  position:absolute;
  left:57px;
  top:283px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:14px;
  top:283px;
  width:33px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:57px;
  top:299px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:367px;
  width:301px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:284px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:301px;
  height:1px;
}
#u27 {
  position:absolute;
  left:57px;
  top:333px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:14px;
  top:333px;
  width:33px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:57px;
  top:349px;
  width:85px;
  height:12px;
  font-size:12px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:12px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:185px;
  top:331px;
  width:85px;
  height:18px;
  text-align:right;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:164px;
  top:349px;
  width:106px;
  height:18px;
  text-align:right;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:282px;
  top:337px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:282px;
  top:286px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:282px;
  top:234px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:185px;
  top:280px;
  width:85px;
  height:18px;
  color:#009933;
  text-align:right;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:164px;
  top:298px;
  width:106px;
  height:18px;
  font-size:12px;
  color:#009933;
  text-align:right;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:185px;
  top:229px;
  width:85px;
  height:18px;
  text-align:right;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:164px;
  top:247px;
  width:106px;
  height:18px;
  text-align:right;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:189px;
  width:152px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:150px;
  top:189px;
  width:150px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
