body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:28px;
  top:65px;
  width:27px;
  height:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:28px;
  top:100px;
  width:53px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:222px;
  top:100px;
  width:49px;
  height:18px;
  text-align:right;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:28px;
  top:135px;
  width:53px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:215px;
  top:134px;
  width:58px;
  height:18px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:28px;
  top:204px;
  width:200px;
  height:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:228px;
  top:203px;
  width:44px;
  height:18px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:26px;
  top:275px;
  width:200px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:258px;
  top:278px;
  width:19px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:26px;
  top:301px;
  width:200px;
  height:18px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:258px;
  top:303px;
  width:19px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:26px;
  top:331px;
  width:200px;
  height:18px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:258px;
  top:329px;
  width:19px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:26px;
  top:356px;
  width:200px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:258px;
  top:359px;
  width:19px;
  height:16px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:30px;
  top:169px;
  width:200px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:222px;
  top:168px;
  width:50px;
  height:18px;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:28px;
  top:241px;
  width:200px;
  height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:26px;
  top:384px;
  width:200px;
  height:18px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:258px;
  top:385px;
  width:19px;
  height:16px;
}
#u45 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u46 {
  position:absolute;
  left:26px;
  top:412px;
  width:200px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:258px;
  top:414px;
  width:19px;
  height:16px;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:26px;
  top:440px;
  width:200px;
  height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:258px;
  top:440px;
  width:19px;
  height:16px;
}
#u53 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u54 {
  position:absolute;
  left:26px;
  top:465px;
  width:200px;
  height:18px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:258px;
  top:466px;
  width:19px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:252px;
  top:11px;
  width:27px;
  height:18px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:83px;
  width:300px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u61 {
  position:absolute;
  left:244px;
  top:65px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:119px;
  width:300px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:155px;
  width:300px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u65 {
  position:absolute;
  left:0px;
  top:191px;
  width:300px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:225px;
  width:300px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u67 {
  position:absolute;
  left:228px;
  top:241px;
  width:44px;
  height:18px;
  text-align:right;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:259px;
  width:300px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:490px;
  width:300px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
