body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:296px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-2px;
  top:9px;
  width:300px;
  height:500px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:294px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:62px;
  top:180px;
  width:175px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:78px;
  top:68px;
  width:197px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8_ann {
  position:absolute;
  left:268px;
  top:64px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:15px;
  top:75px;
  width:27px;
  height:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:15px;
  top:114px;
  width:53px;
  height:18px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:78px;
  top:106px;
  width:197px;
  height:34px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_ann {
  position:absolute;
  left:268px;
  top:102px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:250px;
  top:14px;
  width:19px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
