body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:610px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:610px;
}
#u1 {
  position:absolute;
  left:2px;
  top:297px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:535px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:15px;
  top:9px;
  width:12px;
  height:28px;
  font-family:'AlNile', 'Al Nile';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:28px;
  top:65px;
  width:27px;
  height:18px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:130px;
  top:61px;
  width:145px;
  height:22px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9_input:disabled {
  color:grayText;
}
#u10 {
  position:absolute;
  left:28px;
  top:100px;
  width:53px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:130px;
  top:96px;
  width:145px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:259px;
  top:100px;
  width:14px;
  height:18px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:28px;
  top:135px;
  width:53px;
  height:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:130px;
  top:131px;
  width:145px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:259px;
  top:134px;
  width:14px;
  height:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:28px;
  top:204px;
  width:200px;
  height:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:130px;
  top:201px;
  width:145px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:258px;
  top:203px;
  width:14px;
  height:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:30px;
  top:290px;
  width:130px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:18px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:293px;
  width:90px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:30px;
  top:316px;
  width:200px;
  height:18px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:252px;
  top:318px;
  width:19px;
  height:16px;
}
#u32 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u33 {
  position:absolute;
  left:30px;
  top:346px;
  width:200px;
  height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:252px;
  top:344px;
  width:19px;
  height:16px;
}
#u36 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u37 {
  position:absolute;
  left:30px;
  top:371px;
  width:200px;
  height:18px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:252px;
  top:374px;
  width:19px;
  height:16px;
}
#u40 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u41 {
  position:absolute;
  left:30px;
  top:169px;
  width:200px;
  height:18px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:130px;
  top:166px;
  width:145px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:258px;
  top:168px;
  width:14px;
  height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:28px;
  top:241px;
  width:200px;
  height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:130px;
  top:238px;
  width:145px;
  height:22px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u48_input:disabled {
  color:grayText;
}
#u49 {
  position:absolute;
  left:30px;
  top:399px;
  width:200px;
  height:18px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:252px;
  top:400px;
  width:19px;
  height:16px;
}
#u52 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u53 {
  position:absolute;
  left:30px;
  top:427px;
  width:200px;
  height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:252px;
  top:429px;
  width:19px;
  height:16px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:30px;
  top:455px;
  width:200px;
  height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:252px;
  top:455px;
  width:19px;
  height:16px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:30px;
  top:480px;
  width:200px;
  height:18px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:18px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:252px;
  top:481px;
  width:19px;
  height:16px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:15px;
  top:270px;
  width:271px;
  height:10px;
}
#u65_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_end {
  position:absolute;
  left:254px;
  top:-5px;
  width:18px;
  height:20px;
}
#u65_line {
  position:absolute;
  left:0px;
  top:5px;
  width:271px;
  height:1px;
}
#u66 {
  position:absolute;
  left:10px;
  top:504px;
  width:276px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:259px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:276px;
  height:1px;
}
#u67 {
  position:absolute;
  left:312px;
  top:293px;
  width:48px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u67_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u69 {
  position:absolute;
  left:360px;
  top:321px;
  width:90px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u70 {
  position:absolute;
  left:16px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u69_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71 {
  position:absolute;
  left:312px;
  top:321px;
  width:48px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
